.bg-crimson{
    background-color: bisque;
}
table-text-color {
    color: aquamarine;
}
.ASO{
    background-color: rgb(205, 196, 255);
}
.marques{
    background-color: rgb(215, 157, 32);
}
.hlld{
    background-color: aquamarine;
}
.iso{
    background-color: rgb(64, 64, 244);
}

.tutoria{
    background-color: darksalmon;
}

.fm{
    background-color: rgb(153, 203, 77);
}

.ipo2{
    background-color: gainsboro;
}

.ip1{
    background-color: rosybrown;
}

.sx{
    background-color: rgb(241, 185, 30);
}
.gris{
    background-color: gray;
}
.blanc{
    color: white
}